.cards-container {
    background-color: antiquewhite;
    text-align: center;
    cursor: pointer;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover {
        box-shadow: 0 0 0.5rem blue;
        .top-image {
          transform: scale(1.3);
        }
      }
    .card-img {
        height: 4rem;
    }
    .unordered_list {
        font-size: 0.8rem;
        text-align: left;
        font-weight: bold;
        padding-left: 0.5rem;
    }
  }